.main-nav{
    height: 100vh;
    background-color: #ADC2A9;
    width: 18vw;
}

body{
    background: #FAF7F0;
}

.nav-link .active{
    background: #FEF5ED !important;
}
.logo{
    height:50px;
    width: 50px;
}

.main-content-holder{
    background: #FAF7F0;
    height: 100vh;
    margin-left: 18vw;
    width: 100%;
}

.modal-backdrop {
    z-index: -1;
}

.dataTables_filter{
    margin-bottom: 18px;
}

.nav-tabs .nav-item .active{
    background: #faf7f0;
}

.bg-gray{
    background: #C0C0C0;
}

.bg-dimgary{
    background: #696969;
}

.border-gray{
    border: #141414;
}


.task-holder{
    height: auto;
    padding-bottom: 25px;
    opacity: 0.2;
}

.ui-draggable-dragging{
    width: 180px;
}