*{
    color: #1b1b1b;
}


.main-nav{
    background-color: #4FA095;
}


.nav-tabs{
    background-color: #4FA095;
}

.nav-tabs .nav-item .active{
    background-color: #BAD1C2 !important;
    color: #fff;
    border-bottom: 2px solid #BAD1C2 !important;
}

a.nav-link{
    color: #000;
}

body{
    background: #BAD1C2;
}

.nav-link a.active{
    background: #FEF5ED !important;
}
.logo{
    height:50px;
    width: 50px;
}

.main-content-holder{
    background: #BAD1C2;
}

.modal-backdrop {
    z-index: -1;
}

.dataTables_filter{
    margin-bottom: 18px;
}

.nav-tabs .nav-item .active{
    background: #faf7f0;
}

.bg-gray{
    background-color: #C0C0C0;
}

.bg-dimgary{
    background: #696969;
}

.border-gray{
    border: #141414;
}

.no-outline:focus{
    outline: none;
}

.task-holder{
    height: auto;
    padding-bottom: 25px;
    opacity: 0.2;
}

.ui-draggable-dragging{
    width: 180px;
}

.project-card{
    opacity: 0.2;

}

.paginate_button .current{
    background-color: white;
}

#data-table_filter label input{
    background-color: #fff;
}

.info-card:hover,#data-table tr:hover,.task-card:hover{
    cursor: pointer;
}

.alert{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 35%;
}

.messege-box{
    position: relative;
}

.messege-box .messege-form{
    position: fixed;
    bottom: 0;
    right: 0;
}

.comment{
    border: 1px solid #fff;
    background: lightgray;
}

.comment:hover{
    border: 1px solid blue;
}

.fa-solid.fa-trash-can{
    border: 1px solid #000;
}

.fa-solid.fa-trash-can:hover{
    border: 1px solid red;
    color: red;
}

.user-image{
    border: 1px solid black;box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
}

.comment{
    opacity: 0.1;
}

span.select2-container {
    z-index:10050;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 38px !important;
}

.taskChart,.issueChart{
    width: 220px;
    height: 220px;
}

.msg{
    word-wrap: break-word;
}

.fc-button-primary{
    background-color: blue;
    color: #fff;
}

.profile-circle:hover{
    cursor: pointer;
    border: 1px solid black;
}


.fc-event{
    font-size: 16px;
    padding: 2px;
}
.fc-event-main{
    padding: 2px;
}

.fc-event-title{
    color: white;
}
